body { 
    background-color: #f9f4e8; /* Beige suave */
    font-family: 'Plus Jakarta Sans', sans-serif; /* Cambiado a Plus Jakarta Sans */
    margin: 0;
    padding: 0;
    font-size: 18px;
    min-height: 100vh; /* Asegura que el footer esté al final de la página */
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Plus Jakarta Sans', sans-serif; /* Cambiado a Plus Jakarta Sans */
    font-size: 3.5rem;
    font-weight: 700;
    color: #d57b9e; /* Rosa suave */
    text-align: center;
    margin: 3% 0;
    line-height: 1.3;
    text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    padding: 0.7%;
    border-bottom: 0.2rem solid #d57b9e; /* Rosa suave */
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;
}

.parrafito1, .parrafito2 {
    font-family: 'Plus Jakarta Sans', sans-serif; /* Cambiado a Plus Jakarta Sans */
}

.parrafito1 {
    text-align: center;
    font-size: 175%;
    line-height: 1.5;
    color: #6f4e37; /* Marrón oscuro */
    margin: 0;
    padding: 1.2rem;
    background: #fce4e1; /* Rosa muy suave */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra añadida */
}

.img-circular {
    width: 18rem; 
    height: 18rem; 
    border-radius: 50%;
    object-fit: cover;
    border: 0.4rem solid rgba(204, 24, 204, 0.2); 
    box-shadow: 0 0 1rem rgba(163, 67, 141, 0.2); 
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.image-container {
    display: flex;
    justify-content: center; 
    margin: 2rem 0; 
}

.footer {
    background-color: #d57b9e; /* Rosa suave */
    color: white;
    text-align: center;
    padding: 1rem 0; 
    width: 100%;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Espacio encima del footer */
}

.footer a {
    color: #f9f4e8; /* Beige claro */
    text-decoration: none;
}

.email {
    font-weight: bold;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.email:hover {
    color: #e2b0c6; /* Rosa más claro al pasar el mouse */
}

.navbar {
    background-color: #f9f4e8; /* Beige claro */
    padding: 0.9%;
}

.navbar-nav .nav-item {
    margin: 0 15px; /* Espacio entre los elementos del menú */
}

.nav-list a {
    text-decoration: none;
    color: #6f4e37; /* Marrón oscuro */
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: #d57b9e; /* Rosa suave al pasar el mouse */
    text-shadow: 0 0.1rem rgba(255, 255, 255, 0.3); /* Sutil efecto de sombra al pasar el mouse */
}

main {
    flex: 1; /* Permite que el main ocupe el espacio restante */
    padding: 0.9%;
}

.URL {
    color: #d57b9e; /* Rosa suave */
}

.URL:hover {
    color: #e2b0c6; /* Rosa claro al pasar el mouse */
    text-decoration: underline;
}

.parrafito2 {
    color: #6f4e37; /* Marrón oscuro */
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    padding: 2%;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    body {
        font-size: 18px;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .img-circular {
        width: 17rem;
        height: 17rem;
    }

    .parrafito1, .parrafito2 {
        font-size: 20px;
    }

    h1 {
        font-size: 3rem;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 16px;
    }

    .nav-list {
        flex-direction: column;
    }

    .nav-list li {
        margin: 5px 0;
    }

    .img-circular {
        width: 14rem;
        height: 14rem;
    }

    .parrafito1, .parrafito2 {
        font-size: 18px;
    }

    h1 {
        font-size: 2.5rem;
    }
}
