body {
    background: #800080;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc0cb, #800080);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc0cb, #800080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
}

h1 {
    font-family: 'Playfair Display', serif; 
    font-size: 3rem; 
    font-weight: 700; 
    color: #CF8BF3; 
    text-align: center;
    margin: 30px 0; 
    line-height: 1.3; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    letter-spacing: 1px; 
    text-transform: uppercase;
    padding: 15px; 
    border-bottom: 3px solid #CF8BF3; 
    max-width: 90%; 
    margin-left: auto; 
    margin-right: auto; 
    transition: all 0.3s ease; 
}

.parrafito1 {
    text-align: center;
    font-family: 'Arial', sans-serif; 
    font-size: 25px; 
    line-height: 1.5; 
    color: #D8A5A3;
    margin: 0;
    padding: 10px; /* Corregido el comentario aquí */
    background: linear-gradient(to right, #ffc0cb, #800080);
}

.img-circular {
    width: 210px; 
    height: 210px;
    border-radius: 50%; 
    object-fit: cover; 
    border: 5px solid rgba(204, 24, 204, 0.3); 
    box-shadow: 0 0 5px rgba(163, 67, 141, 0.2); 
    display: block; 
    margin: 0 auto; 
    padding: 0; 
    overflow: hidden; 
}

img {
    border: none; 
    margin: 0;
    padding: 0; 
    display: block; 
    max-width: 100%;
    height: auto;
}

.footer {
    background: linear-gradient(to right, #f1c1c9, #900790); 
    color: #fc67fa; 
    text-align: center; 
    padding: 5px; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
    z-index: 1000;
}

.footer a {
    color: #fc67fa;
    text-decoration: none;
}

.email {
    font-weight: bold;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.email:hover {
    color: #CF8BF3; 
}

.navbar {
    background: linear-gradient(to right, #f1c1c9, #900790);
    padding: 10px 0; 
}

.nav-list {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center;
}

.nav-list li {
    margin: 0 100px; 
}

.nav-list a {
    text-decoration: none; 
    color: #f1c1c9; 
    font-weight: bold; 
    transition: color 0.3s ease; 
}

.nav-list a:hover {
    color: #FAF3F2; 
}

main {
    padding: 20px;
}

.URL {
    color: #651463; 
}

.URL:hover {
    color: #900790; 
    text-decoration: underline; 
}

.parrafito2 {
    color: #651463;
    text-align: center;
    font-size: 18px;
    font-weight: bold; 
    padding: 25px; 
}


@media (max-width: 768px) {
    body {
        font-size: 16px; 
    }

    .nav-list {
        flex-direction: column; 
        align-items: center; 
    }

    .nav-list li {
        margin: 10px 0; 
    }

    .img-circular {
        width: 150px; 
        height: 150px;
    }

    .parrafito1, .parrafito2 {
        font-size: 18px; 
    }

    h1 {
        font-size: 2.5rem; 
    }
}


@media (max-width: 480px) {
    body {
        font-size: 14px; 
    }

    .nav-list {
        flex-direction: column; 
    }

    .nav-list li {
        margin: 5px 0; 
    }

    .img-circular {
        width: 120px; 
        height: 120px;
    }

    .parrafito1, .parrafito2 {
        font-size: 16px; 
    }

    h1 {
        font-size: 2rem;
    }
}